.dev-icons {
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 5%;
  i {
    font-size: 3em;
    color: $main-font-color;
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .dev-icons {
    justify-content: center;
    width: 378px;
    i {
      font-size: 2em;
      color: $main-font-color;
    }
  }
}
