.dev-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  i {
    font-size: 3em;
    color: $main-font-color;
    padding: 7px;
  }
}

@media (max-width: 600px) {
  .dev-icons {
    justify-content: center;
    i {
      font-size: 30px;
      color: $main-font-color;
      padding: 2px;
    }
  }
}
