.about {
  background-color: $about-bg;
  font-weight: 300;
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-direction: column;
  .about_blurb {
    padding-top: 1%;
    font-size: 1em;
    height: 300px;
    width: 70%;
    background-color: lighten($about-bg, 5%);
    text-align: center;
    a {
      color: $accent-color;
      text-decoration: none;
    }
  }
}
