.about {
  background-color: $about-bg;
  font-weight: 300;
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-direction: column;
  p {
    width: 70%;
    padding: 1px;
    height: auto;
    background-color: lighten($about-bg, 5%);
    a {
      color: $accent-color;
      text-decoration: none;
    }
  }
}
