.contact {
  background-color: $contact-bg;
  padding-top: 10%;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;

  p {
    text-align: center;
  }
  .contact-blurb {
    height: auto;
    font-size: 18px;
    width: 60%;
    background-color: lighten($contact-bg, 5%);
    .email {
      color: $accent-color;
    }
  }
}
