//page background colors
$home-bg: #99d9ff;
$about-bg: #e96b6b;
$contact-bg: #fae067;

//other colors
$main-font-color: #ffffff;
$accent-color: #36617e;

//font vars
$regular-font-size: 16px;
$reduced-font-size: 12px;
