.social {
    display:flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    color: blue;
    margin: 1% 0 0 0;

    a, a:visited, a:hover, a:active {
        font-size: 16px;
        color: inherit;
      }
}