.header {
    h1 {
        color: #343a40;
        font-size: 50px;
        font-weight: 700;
        margin: 0;
    }

    .subheader {
        display: flex;
        flex-direction: row;
     
        h2 {
            color:#777d81;
            font-size: 32px;
            font-weight: 400;
            margin: 0;
        }
        
        img {
            margin: 1px 0 0 0;
            align-self:center;
        }
    }
   
   

    @media (max-width: 680px) {
        h1{
            font-size: 30px;
        }
        .subheader{        
            h2 {
              font-size: 20px;          
            }
            img {
                height: 24px;
            }
    }}
}