.page {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 5%;
  color: $main-font-color;
  display: flex;
}

@import "../4-sections/home", "../4-sections/about", "../4-sections/contact";
